#outerbox
{
width: 423px;

}
#sliderbox
{
	position:relative;
	width: 423px;
	animation-name: sakil;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
#sliderbox img
{
	float: left;
}
@keyframes sakil{

	0%
	{
		left: 0px;
	}

	100%
	{
		left: -500px;
	}
}
